{% extends "index.html" %}

{% block content %}
<div class="box carousel-container">
    <div class="box post flex-content">
        <div class="box carousel">
            <ul class="slider" style="max-width: 1000%;">
                <li.box>
                <li.box><h3>Site Name</h3>
                    <input type="radio" id="slide1" name="slide" checked="">
                    <label for="slide1"></label>
                    <img src="https://i.imgur.com/dP7dMZL.jpg" alt="temporary alternate title">
                </li.box>
                
                <li.box><h2>Filmofile</h2>

                <li.box><h3>Site Name</h3></li.box>
                    <input type="radio" id="slide1" name="slide" checked="">
                    <label for="slide1"></label>
                    <img src="https://i.imgur.com/dP7dMZL.jpg" alt="temporary alternate title">
                
                <h2>Github</h2></li.box>
                </li.box>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
